[2016-12-20 13:01] pavolloffay opened #3 "Rename repository should include opentracing"
As discussed in https://github.com/opentracing-contrib/java-jaxrs/pull/2#issuecomment-267301826 it should be good to include `opentracing` in the repository name for better searchability.

Proposed repository names:
1. `opentracing-jaxrs`
2. `opentracing-java-jaxrs`

[2016-12-20 13:03] pavolloffay commented on #3
@bensigelman what do you think?

[2016-12-20 18:43] bensigelman commented on #3
@pavolloffay I was hoping – perhaps naively – that the `opentracing-contrib` org would make that clear enough. E.g., imagine if all of the below have an `opentracing-` prefix as well:

![image](https://cloud.githubusercontent.com/assets/2251553/21363353/09383b06-c6a1-11e6-8bb8-d9a07c334739.png)

Thoughts?

[2017-01-06 16:14] pavolloffay commented on #3
See https://github.com/opentracing

When you are already looking at OT contrib org it's fine you probably found repository you needed.

Try to find `opentracing globaltracer` https://github.com/search?utf8=%E2%9C%93&q=opentracing+globaltracer&type=Repositories&ref=advsearch&l=&l=

..no result.

Why? Github probably does not add org name to its search algorithm.

[2017-01-06 16:16] pavolloffay opened #4 "Add publishing to maven central repository"
Add publishing to maven central repo like It's done in `opentracing-java` repo.

[2017-01-10 11:06] sjoerdtalsma commented on #3
I would love to have the maven artifact names better aligned with the repository name.
It is rather hard to find the github 'home' for artifacts.
Also often people either have to look at pom.xml or look at README on how to include the artifacts, while the naming could be more in line.

[2017-01-10 17:36] bensigelman commented on #3
@pavolloffay IMO the github search is just broken. Google does just fine FWIW: https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=opentracing+globaltracer+java

@sjoerdtalsma standardization of maven artifact names would be great. I think we just need someone to think about it for a few minutes and propose something rational... it's been ad hoc so far.

[2017-01-13 13:30] sjoerdtalsma commented on #3
@bensigelman I think the maven artifact should at least have the opentracing prefix to be clear about the dependency.
Following that, I don't think the suggestion @pavolloffay made is that bad. If it improves github search, that may be an additional benefit.

I _do_ like the current technology distinction though (the `java-` prefix), but that too is unnecessary in the purist argument, as github al

[2017-01-25 15:47] pavolloffay commented on #4
Closing, implemented in #5

[2017-01-25 15:47] #4 closed

[2017-02-20 15:00] pavolloffay opened #13 "Integrate with servlet filter"
Songle jax-rs instrumentation cannot trace all request:
* no URL mapping
* unauthenticated requests

I propose to use servlet filter in conjunction with jax-rs filters. However, jax-rs filters should work alone too, but when there is a span created in filter it should respect it.

[2017-03-14 13:03] pavolloffay commented on #3
Closing, not relevant at the moment.

[2017-03-14 13:03] #3 closed

[2017-04-10 03:53] dspasojevic opened #14 "Decorate SpanBuilders and Spans instead of only Spans"
Hi,

We have a customer opentracing implementation that emits events when `SpanBuilder.start` is called and when `Span.finish` is called.

For that reason, it would be convenient if the decorators decorated the `SpanBuilder` when handling a request, and the `Span` when handling a response. The request filters would also be changed to decorate the builder before starting the span.

I don't think th

[2017-04-10 07:31] pavolloffay commented on #14
Hi,

thanks for raising this issue. I have a couple of comments.

It is important to start span as soon as possible in order to get the most precise timing information. I would be worried that people could execute some expensive code in decorator which would cripple timing data, therefore I don't think that passing a `SpanBuilder` is an appropriate solution to this.

[2017-04-10 12:00] dspasojevic commented on #14
Hey. If a decorator is expensive, won't that cost be reflected somewhere in the trace? If the decorator is run after the span is started then it will skew the cost of the newly started span. If it is run before the span is started it will skew the cost of the parent span.

I think you are saying that the latter scenario is naturally worse than the former? I don't understand why that is the case...

[2017-04-10 12:16] pavolloffay commented on #14
If a `SpanBuilder` is passed to decorator span would be started after decoration process:

[code]

so the time spent in decorator is not included in span duration. Note that there is no parent span present so this duration would be lost.

[2017-04-10 12:46] dspasojevic commented on #14
If there is no parent span, then, yes, the decorating time will not be accounted for. In a way this seems more "true" as decorating time is not lumped in with time taken to execute measured functionality.

It seems more common that there is almost always a parent span of some sort (local or remote) so this seems like a moot point. That is, client span on the calling end gives total cost to call, i

[2017-04-10 12:46] #14 closed

[2017-04-19 01:48] johnament opened #15 "Specify a priority on the filters"
JAX-RS 2.0 allows filters to specify priority, and priority drives the execution order - http://docs.oracle.com/javaee/7/api/javax/ws/rs/Priorities.html

OpenTracing JAX-RS doesn't leverage this and I believe it should.  I would like to write a filter that uses the value of the tracer that's been loaded.  I can specify mine is in the user area, but I think OpenTracing should be done in the `HEADER

[2017-04-19 12:07] sjoerdtalsma opened #16 "Maybe split in jaxrs-client / jaxrs-server modules?"
Curious how you feel about this @pavolloffay.

Reason: as a JAX-RS client I have no reason to include the `opentracing-web-servlet-filter` dependency.
Currently I actively _exclude_ the transient dependency for a JAX-RS client-only jar.

Maybe this is related to #13 ?

[2017-04-19 15:55] pavolloffay commented on #16
There is also an option to create a `common` artifact in servlet filter because at the moment it uses only some utility class from there. I'm working on adding `@Priority`, then we should know if we need to implement  #13.

[2017-04-20 08:58] pavolloffay commented on #15
Hi @johnament thanks for pointing to this issue. I have submitted #20 to fix it.

There are still some tracing improvement which can be made Currently, it does not trace requests for no URL mapping and probably secured endpoints. I'm wondering how it can be done purely with jax-rs. Can be `ContainerRequestFilter` configured to run before auth filter?

[2017-04-20 09:40] pavolloffay opened #21 "Use GlobalTracer as a default configuration"
`ServerTracingDynamicFeature` is annotated with `@Provider` but there si no suitable constructor [1].

We might provide a default constructor:
[code]

Then the issue might be how to exclude registration if users would like to use custom tracing configuration (e.g. span decorators)

[1]: http://download.oracle.com/otn-pub/jcp/jaxrs-1.0-fr-eval-oth-JSpec/jaxrs-1.0-final-spec.pdf section 4.1.1

cc @j

[2017-04-21 16:44] #15 closed

[2017-05-01 16:42] akihikokuroda commented on #21
I can not use this library without fixing missing default constructor.  It causes a NPE in my environment.  I temporary patched like:

[code]
I'm not sure if it's a right fix but it works for me for now.

[2017-05-01 16:43] johnament commented on #15
Yes, that's actually the point of the priority annotation.  You can control when in the chain it executes.  I'm not sure which auth filter you're referring to though.

[2017-05-01 16:44] johnament commented on #21
@akihikokuroda i'm curious, what error do you receive?  JAX-RS impls should ignore invalid providers.

[2017-05-01 16:53] akihikokuroda commented on #21
It generates some error log entries and the provider is ignored (I assume).  I assumed that the class is not registered because of the error but I'm not sure.  I'll check if it still works even if it generates  error log entries.

[2017-05-01 16:56] johnament commented on #21
It should.  The log messages are simply that - your container letting you know something's a bit off.

[2017-05-01 16:58] akihikokuroda commented on #21
OK  Thank.  I'll try.

[2017-05-02 09:44] #21 closed

[2017-05-02 20:16] akihikokuroda commented on #21
ServerTracingDynamicFeature() must be public

[2017-05-03 08:17] pavolloffay commented on #21
@akihikokuroda  should be fixed in https://github.com/opentracing-contrib/java-jaxrs/pull/24. I will trigger a new release.

[2017-05-03 20:07] akihikokuroda opened #25 "Multiple ServerTracingDynamicFeature instances"
The JAX-RS framework seems instantiating the ServerTracingDynamicFeature instance by the default constructor and uses the instance to call the configure method.  This instance has its own Builder instance instantiated by the "Builder(Tracer tracer)" and it is referenced in the configure method.

When I call  (following the README)
[code]
, this instantiates another instance of the ServerTracingDyn

[2017-05-04 13:08] pavolloffay commented on #25
I think there are two solutions to this.

* disable auto discovery
* remove `@Provider` and maybe introduce new artifact with Feature annotated with `@Provider` for auto configuration.

cc @jpkrohling  @johnament

[2017-05-10 14:33] pavolloffay opened #27 "In process propagation"
Instrumentation currently does not use in-process propagation for an active span.

Some references:
https://github.com/opentracing/opentracing-java/pull/115, https://github.com/opentracing-contrib/java-spanmanager

[2017-05-10 14:42] pavolloffay commented on #25
@akihikokuroda could you please share your jax-rs configuration? So there are two `ServerTracingDynamicFeature` registered at runtime, one registered explicitly and second default picked by auto-discovery (because class is annotated with `@Provider`)

[2017-05-11 03:26] akihikokuroda commented on #25
@pavolloffay I'm using IBM Liberty and its JAX-RS feature. (https://developer.ibm.com/wasdev/downloads/#asset/features-com.ibm.websphere.appserver.jaxrs-2.0)

[2017-05-11 14:14] pavolloffay opened #30 "Client does not trace error states like UnknownHostException"
In jax-rs 2.0 client it is not possible to catch exceptions like `UnknownHostException`.

[2017-05-11 14:17] pavolloffay opened #31 "Redirects in Clients"
Some jax-rs clients (RestEasy, Apache CXF) do not support redirects. (Jersey supports it). We should make sure that span context is copied to redirected requests.

[2017-05-31 17:50] #25 closed

[2017-06-19 01:38] malafeev commented on #27
+1

[2017-06-19 02:20] malafeev commented on #27
On client side:
I assume that span should be activated in `ClientRequestFilter`
and deactivated in `ClientResponseFilter`.
But will this two filters always run in the same thread?

[2017-06-19 07:56] pavolloffay commented on #27
hm.. I thought this is done. I will look at it today.

[2017-06-19 14:29] pavolloffay opened #37 "Apache CXF client set custom ExecutorService"
Apache client does not allow to specify custom ExecutorService(in our case OpenTracing-aware), therefore when simultaneously invoking multiple async requests parent is not correctly inferred.

[2017-06-21 20:33] pavolloffay commented on #27
Fixed in #36

[2017-06-21 20:33] #27 closed

[2017-07-26 12:49] jpkrohling opened #38 "Mark the JAX-RS dependency as `provided`"
The JAX-RS dependency should be marked as `provided`, as the party consuming the OT instrumentation has a concrete implementation as dependency already.

This is what's shown as `mvn dependency:tree` for a Wildfly Swarm application when requiring `io.opentracing.contrib:opentracing-jaxrs2:0.0.8`:
[code]

[2017-07-26 13:15] pavolloffay commented on #38
It's just waiting for somebody to fix it :)

[2017-07-26 13:22] jpkrohling commented on #38
I can fix it. I just wanted to open it "quickly" (without a PR), because I was working on something else :-)

[2017-09-22 11:43] redijedi opened #43 "Not nesting spans"
I'm running a Dropwizard app which uses Jersey for JAXRS. I have setup the following in the configuration of the service:

[code]

However, whenever a call is made I see two traces: 1) is for the JAXRS request, and 2) is from the nested code's tracing. I expected to see the nested code's span within the JAXRS req span. Is there some other configuration that needs to be applied?

[2017-09-22 11:55] pavolloffay commented on #43
@redijedi hi,

what tracer are you using? Do you have a reproducer or code snipped where you create that nested span?

[2017-09-22 12:01] redijedi commented on #43
I'm using Jaegar as the impl. I generally use Byteman rules to perform the nested tracing. One example would be:
[code]
The `FooService.query` invocation takes place within a JAXRS call, but both appear as separate spans, not nested as I would expect.

[2017-09-22 12:23] pavolloffay commented on #43
interesting maybe @objectiser can help here. I am not very familiar with byteman. However if `foo.bar.FooService.query` runs in a separate thread then the trace is broken (not sure whether is it your case).

[2017-09-22 12:45] objectiser commented on #43
The byteman rules are simply creating a span around the method call - so might be best if you could create a reproducer where this nested span is directly created inside the application, so minimise the number of dependencies. It seems like a thread related issue, so should be reproducable just with dropwizard and the jaxrs instrumentation.

[2017-09-22 20:18] redijedi commented on #43
I was able to resolve this by ensuring that I registered a tracer globally. By default it uses a noop tracer, so the internally instrumented code wasn't using the same tracer as the jaxrs feature.

[2017-09-22 20:18] #43 closed

[2017-10-29 17:56] hypnoce commented on #13
@pavolloffay, for the first point, does adding the @PreMatching so that the filter is called before any attempt to match the URL would work ?

[2017-10-30 08:32] pavolloffay commented on #13
@hypnoce I don't know. It probably could work.

If I understand it correctly by default jaxrs filters are executed at _post-match_ request extension point. And priority [2] defines the order for each extension point.

https://docs.oracle.com/javaee/7/api/javax/ws/rs/Priorities.html

[1] https://docs.oracle.com/javaee/7/api/javax/ws/rs/container/ContainerRequestFilter.html
[2] https://docs.oracle.c

[2017-11-06 08:30] pavolloffay opened #48 "Test reference type in tracing interceptor"
Tracing interceptor can create `childOf` and `followsFrom` reference types, however at this time `MockTracer` does not support reading reference types.

https://github.com/opentracing/opentracing-java/pull/213
https://github.com/opentracing/opentracing-java/issues/210

[2017-11-14 10:43] pavolloffay opened #51 "What is not traced"
# Server
* URLs without mapping. see also #13
* ~~exceptions in handlers. see also #13, #50~~ - Traced by servlet filter `SpanFinishingFilter`.
* Exceptions added to `AsyncResponse#resume()` are not propagated to `onComplete` or `onError` async callbacks

# Client
* interceptors do not catch `UnknownHostException` #30
* ~~some impls do not allow to specify custom `ExecutorService` (which propagate

[2017-11-16 09:07] hypnoce opened #52 "Update JAX-RS to 2.1"
Hi,

as requested in #49, JAX-RS was not updated to the latest version 2.1.
Do you think it brings value to do so ?

Thanks !

Francois

[2017-11-21 10:28] pavolloffay opened #53 "Integrate with microprofile.io"
MicroProfile has a spec for distributed tracing using OpenTracing API https://github.com/eclipse/microprofile-opentracing. From the features perspective, it's very close to this implementation.

For me it makes sense to integrate with microprofile.io. Then this instrumentation could be used as a component in application servers to implement microprofile-opentracing support.

Additionally, applicat

[2017-11-21 10:38] objectiser commented on #53
Sounds reasonable, as long as we ensure the instrumentation can still be used independently from a microprofile runtime.

[2017-11-21 10:41] pavolloffay commented on #53
That is also a requirement. The only change in apps would be to use microprofile annotations.

[2018-01-10 16:00] #53 closed

[2018-01-23 14:54] pavolloffay opened #61 "Update OpenTracing API to 0.31.0"
The current master depends on MP-OpenTracing which uses OT 0.30.0. MP does not use any OT directly it just exposes tracer bean to the application.

Do we want to bump TO version even though MP will depend on the old version?

[2018-01-24 10:57] objectiser commented on #61
Sounds reasonable.

[2018-01-24 13:38] pavolloffay commented on #61
Ok, then I will merge `v0.31.0` to master and release under 0.1.0.

If there will be any changes required to make MP impl work in swarm. We can create a branch and release under `0.0.x`.

[2018-01-26 18:35] mpetazzoni commented on #61
I think this can be closed, given the release of 0.1.0 yesterday.

[2018-01-29 09:12] pavolloffay commented on #61
@mpetazzoni thanks, closing.

[2018-01-29 09:12] #61 closed

[2018-01-30 22:35] tmszdmsk commented on #13
Recently when I was working on Opentracing in Dropwizard project I noticed that jaxrs and servlet integrations do not play well together, i.e. jaxrs-integration spans are not children of servlet-integration created spans. Maybe original idea was that you should have only one of them installed but not all endpoints have to be handled by jaxrs so it is beneficial to have both.

My idea would be to m

[2018-01-30 22:44] tmszdmsk commented on #38
Look like it was already fixed.

[code]

[2018-01-30 22:48] tmszdmsk commented on #52
@hypnoce
IMHO if there are no features we want to use in JAX-RS integration and it is backwards compatible (it's sane to assume it is) then there is no benefit of doing so. It can accidentally bump the version of JAX-RS in projects using it when resolving version.

[2018-01-31 00:00] hypnoce commented on #13
From my perspective I do not see anything that can go wrong. They should play well together.
Nevertheless this issue is still valid in the context of a standalone jaxrs instrumentation.

[2018-01-31 00:20] hypnoce commented on #52
Indeed it is premature to do so now.

Nevertheless, the jaxrs dependency is declared as provided. Therefore there should not be any bump accident.

I think it makes more sense to work on this issue when upgrading the test dependencies to validate this instrumentation to newer versions of the jaxrs implementations.

[2018-01-31 08:42] pavolloffay commented on #38
@tmszdmsk thanks

[2018-01-31 08:42] #38 closed

[2018-01-31 08:45] pavolloffay commented on #13
@tmszdmsk There is one problem. This instrumentation supports `@Traced(false)` defined on the jax-rs endpoint. If the span is created in webfilter there is no way how to "cancel" it in the jaxrs layer.

[2018-01-31 08:47] pavolloffay opened #66 "Document that spanfinishig filter is required"
Document in javadoc+readme.

[2018-01-31 08:53] tmszdmsk commented on #13
But, as @hypnoce said, it is a different issue than originally reported. I will create a separate ticket.

[2018-01-31 08:56] tmszdmsk opened #67 "JAX-RS intergation doesn't work well with web servlet filter"
Extracted from: https://github.com/opentracing-contrib/java-jaxrs/issues/13#issuecomment-361758149

[2018-01-31 09:08] pavolloffay commented on #67
It makes sense, but why would you like to use filter integration with jax-rs. Could you please list some use cases?

[2018-01-31 09:14] tmszdmsk commented on #67
@pavolloffay
In the company I work, we want to provide common lib that will instrument our Dropwizard services. Not all endpoints are served by Jersey. We want to trace all.

Actually, in context of this issue, it doesn't have to be servlet filter. It should work the same with interceptors instrumenting e.g. specific web servers like Jetty.

[2018-01-31 09:55] pavolloffay commented on #67
I see thanks, that totally makes sense.

Are you fine with having two spans per a request or do you want to disable the creation if there is an active span?

[2018-01-31 15:11] lysebraate opened #68 "SpanFinishingFilter does not wipe out previous span"
As described here https://gitter.im/jaegertracing/Lobby?at=5a718da6e217167e2c22d430, I'm getting nested spans when using the current setup (with jaeger-core v.0.23.0, java-jaxrs v0.1.0) and dropwizard:

[code]

Turns out the old span is kept in the thread and becomes the parent span when the first thread is reused.

AS = Active Span, PS = Parent Span, TID = Trace Id. Looks like the parent span is

[2018-02-01 11:13] pavolloffay opened #70 "Remove jax-rs ContainerResponseFilter"
`ContainerResponseFilter ` can be considered as redundant because response tags can be added in `SpanFinishingFilter`

[2018-02-01 11:23] #68 closed

[2018-02-01 12:56] #66 closed

[2018-02-02 14:48] rromannissen opened #72 "Using GlobalTracer.register() doesn't enable JAX-RS instrumentation in Spring Boog"
I've been struggling to integrate the library with Spring Boot the same way I did with Wildfly Swarm on a previous project. My first thought was to declare a Jaeger Bean at application level and inject it when calling to GlobalTracer.register() at application startup on the main() method:

[code]

With this I got the tracer created and usable for any ActiveSpan I may create, but the JAX-RS instrum

[2018-02-02 16:02] pavolloffay commented on #72
I think the problem is related to fact that jaxrs providers (e.g. tracing feature) are not automatically discovered in SB.

The second approach looks good if it works. There might be more configuration variations, e.g. the one from root readme. In this repository there is example folder with SB and jax-rs (and there is a bug because the filter is not registered I will fix it).

[2018-02-02 20:19] tmszdmsk commented on #67
Sorry for the delay.

Two spans are actually good because JAX-RS can provide more information in tags resource method, resource path pattern.

I pushed some proof of concept to #74.

[2018-02-06 16:23] tmszdmsk commented on #67
PR merged, closing.

[2018-02-06 16:23] #67 closed

[2018-02-06 16:34] pavolloffay commented on #67
I have pushed `0.1.2`.

@tmszdmsk thanks

[2018-02-06 16:37] tmszdmsk commented on #67
👍

[2018-02-08 10:38] pavolloffay commented on #72
@rromannissen were you able to solve it? I will close it as it is related to spring configuration not jax-rs. Feel free to reopen.

[2018-02-08 10:38] #72 closed

[2018-03-09 08:42] kevinearls opened #76 "Spans created with jaxrs instrumentation don't include component tag"
I have a simple wildfly-swarm application (https://github.com/kevinearls/SimpleSwarmWithTracing) that uses the jaxrs instrumentation.   The spans created by the instrumentation do not include the component tag, and may be missing several other tags.  (I'm not sure exactly which tags are required, but the EJB instrumentation creates several more tags than the jaxrs instrumentation does.)

[2018-03-09 09:01] kevinearls opened #77 "WF-SWARM creates two serialize spans instead of one"
Using this project: https://github.com/kevinearls/SimpleSwarmWithTracing prior to Jaeger 0.21.0/opentracing-jaxrs 0.0.10 hitting localhost:8080/hello would create a trace with 2 spans as expected.

After updating to those version I get 4 spans, 2 of which have operationName serialize.   (See https://gist.github.com/kevinearls/9941f35584ae8acd59b64f33ef36f0cc for details.)

If this is not the expec

[2018-03-14 13:17] mabn opened #78 "ClientTracingFilter does not close activated Scope"
ClientTracingFilter calls `startActive` on request, not does not close the activated `Scope` on response. This leaves incorrect Scope in ThreadLocalScopeManager and breaks closing of other (activated earlier) scopes.

[2018-03-14 13:36] pavolloffay commented on #76
The component tag is not defined in Microprofile, hence is not added here (to pass TCK).

Please be specific what tags are missing regarding the spec?

[2018-03-14 14:29] mabn opened #79 "Client instrumentation does not finish spans after ConnectionException"
It seems that ClientTracingFilter.filter(request, response) is not called after:
`javax.ws.rs.ProcessingException: java.net.ConnectException: Connection refused (Connection refused)`

ClientRuntime.invoke from jersey client:

[code]

The exception is thrown from the line with `response = conn...` and the execution skips over `Stages.process(response, responseProcessingRoot)` which would run the fi

[2018-03-14 17:11] mabn commented on #79
Oh, it's already reported under https://github.com/opentracing-contrib/java-jaxrs/issues/30
I'm closing this.

[2018-03-14 17:11] #79 closed

[2018-03-15 08:31] pavolloffay commented on #76
https://github.com/eclipse/microprofile-opentracing/issues/65

[2018-03-16 14:10] pashashiz opened #80 "When accessing a root resource StringIndexOutOfBoundsException is thrown"
This is a stack trace, I think you need to check if a path is empty as well:
[code]

[2018-03-16 15:34] pavolloffay commented on #80
Reproduced the issue happens on Jersey on root endpoint.

I have also noticed that we have to add first `/` (we were stripping it) to the operation name, otherwise it will be empty which is wrong.

[2018-03-16 16:55] pavolloffay commented on #77
This is weird, there is a test for it which works as expected https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2-itest/common/src/main/java/io/opentracing/contrib/jaxrs2/itest/common/AbstractServerTest.java#L266

[2018-03-16 17:11] #80 closed

[2018-03-16 17:16] pavolloffay commented on #77
@kevinearls I have cloned your repo and checked out older version (`c01b892`) which uses jaeger 0.21.0 and 0.0.10 version of this lib and there are also 4 spans!

There should be only one `serialize` span but this issue seems to be related to Swarm runtime.

[2018-03-16 17:41] kevinearls commented on #77
@pavolloffay correct, the original version used jaeger 0.20.5 and 0.0.8 of the opentracing-jaxrs library.  Once I upgraded to 0.21.0/0.0.10 I started getting the serialize spans.

[2018-03-19 10:28] pavolloffay commented on #37
Closing, CXF filters are executed in the same thread so linking with a parent works as expected.

[2018-03-19 10:28] #37 closed

[2018-03-19 10:31] pavolloffay commented on #77
Note that serialization tracing can be disabled by custom configuration.

I will keep it open for swarm as there are 2 serialization spans.

[2018-03-19 10:33] pavolloffay commented on #77
@kenfinnigan do you know why JAX-RS `serialization` filters are called twice in Swarm?

[2018-03-19 12:04] pavolloffay commented on #37
however async response filter is executed in a different thread so it cannot close scopes!

[2018-03-19 12:07] kenfinnigan commented on #77
Without delving into it I don't have an answer unfortunately

[2018-03-19 13:43] pavolloffay commented on #30
Note that exception happens after request filter. So response filter is not executed and it's not possible to close span scope.

[2018-03-19 14:17] #78 closed

[2018-03-19 14:45] pavolloffay commented on #80
0.1.4 should include this fix

[2018-03-19 14:45] pavolloffay commented on #78
0.1.4 should include this fix

[2018-05-03 18:39] pavolloffay opened #84 "Change log level in client registration"
e.g.

[code]

shouldn't be at info level

[2018-05-04 10:31] pavolloffay commented on #84
done in #86

[2018-05-04 10:31] #84 closed

[2018-05-10 11:27] jsanda commented on #77
@pavolloffay I do not think this is specific to Swarm. I saw this behavior yesterday with WildFly 11.1.0 when running some integration tests using Jaeger all-in-one image v1.4.1.

[2018-05-17 12:56] jpkrohling commented on #76
The CDI, EJB and Servlet libraries include the component tag, like this:

https://github.com/opentracing-contrib/java-web-servlet-filter/blob/master/opentracing-web-servlet-filter/src/main/java/io/opentracing/contrib/web/servlet/filter/ServletFilterSpanDecorator.java#L79

As such, I would expect to see the same for the JAX-RS integration.

[2018-05-17 13:39] pavolloffay commented on #76
It will be included in MP-OT 1.1. Will be fixed here in https://github.com/opentracing-contrib/java-jaxrs/pull/85

[2018-05-22 11:38] #76 closed

[2018-05-23 08:56] jmif opened #87 "activeSpan being reused"
I believe we're seeing an issue using `opentracing-contrib:java-jaxrx:0.1.4`, `io.zipkin.brave:brave:4.19.2` and `brave-opentracing-0.30.3` (all of this inside Dropwizard 1.2), however I'm very new to open tracing in and the available Java tracers and I'm hoping someone here can point me in the right direction:

The active span is not being cleared across requests and all spans that are created in

[2018-05-23 12:06] pavolloffay commented on #87
A simple dropwizzard app with required deps would be sufficient

[2018-05-23 18:53] jmif commented on #87
https://github.com/jmif/open-tracing-jaxrs-active-span-bug-repro

If you fire 5 - 10 requests you'll notice that the trace IDs / span IDs start to become identical (i've included a simple log below to demonstrate - the RealSpan log entries come via debugger from [this line](https://github.com/opentracing-contrib/java-jaxrs/blob/eaa1a4e1697cdcf73cfef34fa7a7dc7775b73d96/opentracing-jaxrs2/src/main/j

[2018-05-29 14:32] pavolloffay commented on #87
This was added https://github.com/opentracing-contrib/java-jaxrs/pull/74.

[2018-06-28 14:43] lubo3 commented on #77
@pavolloffay could you describe how to disable serialization in configuration please? Or where I can find some documentation for this besides https://github.com/opentracing-contrib/java-jaxrs#custom-configuration ? thanks

[2018-07-02 13:58] pavolloffay commented on #77
@lubo3 set https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/server/ServerTracingDynamicFeature.java#L193 to false for the server side serialization. On the client side do the same but with client feature builder

[2018-07-18 14:43] pavolloffay opened #89 "Remove dependency on opentracing-concurrent"
`opentracing-concurrent` is used in tests therefore should be removed from `opentracing-jaxrs2`

[2018-07-24 21:11] mpetazzoni commented on #87
@pavolloffay I'm still seeing this problem with java-jaxrs 0.1.6, brave 5.1.x and brave-opentracing 0.31.2. If a serving thread decides not to trace the incoming request (because of sampling), a NoopSpan is put in scope, but that scope is then never closed correctly and a subsequent request served by the same thread sees that previous span as being active, creating a new span as a child of that fi

[2018-07-25 08:22] pavolloffay commented on #87
@mpetazzoni is it related to brave implementation - the difference between noopSpan and realSpan?

Would you have a reproducer for tihs?

[2018-07-25 15:33] mpetazzoni commented on #87
Yeah, it definitely is because of the interaction with Brave and the Brave/OT bridge. I'll try to work on a reproducer in the java-jaxrs unit tests, but I'm curious to hear your thoughts on how this would be fixed.

[2018-07-31 16:23] isaachier opened #90 "Improve README"
I cannot figure out what is going on in the README. It seems to suggest two different ways to instrument frameworks, but no straightforward explanation of the internals and/or how the default configuration works. I am struggling to understand how to instrument a Jersey server given that only an example client is provided in the README. How do I instrument a server for client requests, server respo

[2018-08-01 18:27] isaachier commented on #90
OK after reading a bit more about JAX-RS, this seems like more of a shortcoming in my knowledge here. Closing this issue.

[2018-08-01 18:27] #90 closed

[2018-08-08 10:37] rnorth opened #91 "Exceptional async server spans are not marked with an error tag or HTTP status"
Firstly, thanks for this useful library - it's helped us very quickly instrument Dropwizard services for OpenTracing!

We're seeing a bit of an edge case, perhaps. We have the following simple test endpoints:

[code]

(N.B. We have an exception mapper in place - not sure if this is relevant)

What we're seeing is that:

1. the sync endpoint produces a span with the `error` tag set to true, and the

[2018-08-13 10:00] pavolloffay commented on #91
Http code should be always set  https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/server/SpanFinishingFilter.java#L58. Would you like to provide a reproducer for it?

Maybe use `onError` handler?
https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/serv

[2018-08-14 11:31] jpkrohling opened #92 "Benchmarks - overhead of instrumented code without a tracer"
See opentracing/opentracing-java#295

Similar to the linked issue from the main opentracing-java repository, the idea is to measure how much overhead the OT instrumentation is adding when compared to the same application without the filter.

This can be accomplished by using [Jersey](https://jersey.github.io) and [JMH](http://openjdk.java.net/projects/code-tools/jmh/).

[2018-08-14 13:52] jpkrohling commented on #52
Anyone up to speed with the current state of JAX-RS ? Is there anything that we'd need to do, or can this one be closed?

[2018-08-14 17:33] philipzhaoTS opened #93 "Is there any reason to depend on org.eclipse.microprofile.opentracing.Traced?"
What is the motivation that it need to depend this interface? Otherwise, I did not see why such interface was useful.

[2018-08-15 07:58] pavolloffay commented on #93
Can you please explain why?

It's useful to override operation name and disable tracing per endpoint.

[2018-08-15 10:40] jpkrohling commented on #93
Note that it's not an interface, but an annotation.

[2018-08-29 13:53] BenjaminRevertegat opened #95 "No Trace when @Path concatenation between class and methods in a particular case"
Hi,

A project that I instrument has @Path annotation on a class and its methods, but one of this methods have an empty path. like this:
[code]
Which gives me as a result no span creation

but with something like this:
[code]
All is working well !

Any idea to fix that ?

[2018-08-30 13:48] pavolloffay commented on #93
I am closing this as it seems not relevant.

[2018-08-30 13:48] #93 closed

[2018-08-30 14:55] pavolloffay commented on #95
I have tried this on the example we have in this repository: https://github.com/opentracing-contrib/java-jaxrs/compare/master...pavolloffay:issue-95?expand=1

It produces span with an operation name `/foo/bar`
[code]

[2018-08-30 14:55] pavolloffay commented on #95
However I had to annotate the method with `@GET`

[2018-09-03 13:34] BenjaminRevertegat commented on #95
Your operationName should be ExampleHandler/myMethod ?

In my case, I have an ```@POST```. I don't understand because change the ```@Path(value)``` is the only thing I modify...

[2018-09-04 08:48] pavolloffay commented on #95
If you provide a reproducer I could have a look.

[2018-09-07 19:00] wyfrel opened #96 "Configure skipPattern in web.xml"
Hi,

I would like to configure skipPattern in web.xml. Is there a way to do this?

Thank you !

[2018-09-10 07:45] BenjaminRevertegat commented on #95
Thank you for that, but I'm an intern and I finish at the end of the month and unfortunately I won't have time to provide a reproducer :/ , sorry.

[2018-09-18 09:40] pavolloffay commented on #96
@wyfrel hi, could you please describe your use case?  Why do you need to define it in web.xml?

The fiter itself cannot be configured in web.xml as it requires multiple objects to be provided.

[2018-09-18 10:44] wyfrel commented on #96
@pavolloffay  : thx for your answer.

I fact the need is to be able to configure the skippattern when starting the `ServerTracingDynamicFeature` with the default constructor. The version of restEasy that i (must) use doesn't boostrap correctly `ServerTracingDynamicFeature` when it's defined via the `getSingletons()` method of `javax.ws.rs.core.Application`. In debbuging i can see that the configur

[2018-09-18 10:52] pavolloffay commented on #96
Do you mean when the feature is auto-discovered by runtime? I am planning to remove `@Provider` from the feature so users can provide a configured provider e.g. with skip pattern.

Maybe because the runtime auto discovered it and the provider added to singletons is skipped.
If the configure was never called you would not get any traces because it registers filters which create spans.

[2018-09-18 11:15] wyfrel commented on #96
I configure it via the `getClasses()` method of `javax.ws.rs.core.Application`

I've just try to removed the `@provider` from ServerTracingDynamicFeature  and try to define ServerTracingDynamicFeature  via getSingleton but `configure(ResourceInfo resourceInfo, FeatureContext context)` method is never called.

[2018-09-18 11:38] pavolloffay commented on #96
And do you get any traces?

@wyfrel do you have a reproducer? It seems more like a configuration issue.

[2018-09-22 19:12] wyfrel commented on #96
@pavolloffay  : Sorry for the delay. I add no time to produce a working example (without company code ;-)) before today.

I publish it here : https://github.com/wyfrel/helloworld-opencontrib-jaxrs

In 'be.wyfrel.helloworld.application.HelloWorldApplication' i add in comment the configurations that aren't working

[2018-09-28 20:42] wyfrel commented on #96
@pavolloffay : did you had Time to check my reproducer ?

[2018-10-08 12:51] pavolloffay commented on #96
I had a look at the reproducer. I have a couple of comments:

* you forgot to register `SpanFinishingFilter`
* The custom tracing feature can be configured by creating dynamic feature which wrap the one in this repository. Then the feature has to be added to `resteasy.providers`. Not sure why automatic discovery does not work maybe because how the whole deployment is configured. In standard WF dep

[2018-10-08 15:18] pavolloffay commented on #96
@wyfrel  I got working configuration via `getSingletos`. There is probably something wrong with the configuration. If you comment

[code]

Then all resources specified in singletons are loaded.

[2018-10-08 18:37] wyfrel commented on #96
@pavolloffay  : Thx for all these information!! I'll take a look at them !!

[2018-10-09 14:07] pavolloffay commented on #95
@BenjaminRevertegat I will close it as I failed to reproduce. Even the provided example is wrong as it should have @GET or other verb annotation.

[2018-10-09 14:07] #95 closed

[2018-10-09 14:09] pavolloffay commented on #89
I think we can depend on this jar as it's need when working with async client api

[2018-10-09 14:19] pavolloffay commented on #51
* Resteasy/CXF does not propagate correct status code on exceptions https://issues.jboss.org/browse/RESTEASY-1758

[2018-10-10 08:58] pavolloffay opened #99 "Fix broken auto-discovery tests"
Auto discovery tests are broken. The test is reported as successful but it was not executed.

I would like to migrate it from swarm to something else e.g. wildfly? The other question is do we want to keep this test? It was useful when we didn't integrate with servlet filter now filter has to be added manually.

[2018-10-10 11:10] pavolloffay commented on #99
Correction the auto-discovery works the filter is discovered and added by container due to `@WebFilter` annotation.

[2018-10-10 11:35] pavolloffay opened #102 "Provide configuration via web.xml"
#96 started a discussion whether we should provide a configuration via web.xml. If we go that route I would except all options would be available via web.xml. Note that servlet attributes are not available in jax-rs features - maybe it can be injected as `@Context  private ServletContext context;`

[2018-10-10 13:31] #99 closed

[2018-10-10 13:38] #51 closed

[2018-10-10 15:10] pavolloffay commented on #96
@wyfrel I will close this one in favor of #102.

Let us know if you solved the original issue.

[2018-10-10 15:10] #96 closed

[2018-10-10 17:10] pavolloffay commented on #77
The second interceptor gets registered from `ClientTracingFeature`. We should remove provider annotation for that class. I am in favor of disabling auto registration completely.

[2018-10-11 09:30] #77 closed

[2018-10-12 12:31] sjoerdtalsma opened #107 "Builder.withTraceNothing() doesn't seem to work"
Actually it works a little _too_ wel, as it indeed traces **nothing**.
However, it promises:
[code]

I believe the problem is in the `configure` method:
[code]

Here, `tracingDisabled` concerns itself with the `@Traced` annotation. Therefore I think the `&&` should be changed to `||` in order to fulfill the promised annotation support.
_while you're at it, short-circuit on the boolean instead of t

[2018-10-16 12:53] rnorth opened #109 "Spans/traces leak between requests if child spans not finished correctly"
I don't think this is a bug per se, but perhaps a missed opportunity: the current implementation relies on developers' span handling being bug-free, otherwise extremely undesirable traces are generated.

As an example, we had a service where a span had been started but not finished due to a bug in service code. This imbalance between start/finish meant that, when the server started handling a new

[2018-10-16 13:45] rnorth commented on #91
Aha, I was attempting to create a repro for this issue and finding that it was unexpectedly working - it seems that #98 addresses the core problem in this issue.

Will close.

[2018-10-16 13:45] #91 closed

[2018-10-16 15:11] pavolloffay commented on #109
@rnorth thanks for reporting!

What is your fix? Add a parameter to jax-rs filter to skip any thread locals?

[2018-10-17 09:07] rnorth commented on #109
So far (internally) I've just taken the crude approach of disabling it in code - but I'll happily submit as a PR where it is made configurable. I'll add a suitable `with` method to `ServerTracingDynamicFeature.Builder`.

I think the only thing I'm not sure of is what the default should be. I'm strongly inclined to not disrupt the current default behaviour, even though in my view it's a bit of a go

[2018-10-17 09:18] pavolloffay commented on #109
I am fine with changing the default behavior. We could even set the parent active span as a second child-of. But I am not sure if it is supported by all tracing systems.

[2018-10-17 10:32] sjoerdtalsma commented on #89
Maybe it's an idea to split up _client_ and _server_ support as these both have very different dependencies?

[2018-10-23 08:58] pavolloffay opened #111 "Annotate 5xx client calls with an error tag"
We could add error tag to client spans for returned 5xx codes.

Related issue for async server API #91

[2018-10-23 09:00] pavolloffay commented on #30
The issue has been reported in jax-rs https://github.com/opentracing-contrib/java-jaxrs/issues/111

[2018-10-23 09:39] pavolloffay commented on #111
The MP-OT spec defines that error tag SHOULD be added only for 4xx (client codes). If the server side is not traced and 5xx is returned I would also consider that operation as failed or errored.

[2018-10-23 09:45] pavolloffay commented on #111
Reported in MP-OT https://github.com/eclipse/microprofile-opentracing/issues/114

[2018-10-23 23:46] withnale opened #112 "Adding traceId/spanId to accesslogs and applogs"
I've been following the various opentracing/jaeger/zipkin java client repos looking for some guidance on the cleanest way to get traceId/spanId into the logs. There has been some discussion in various places on this topic but nothing definitive and no code anywhere (unless I look in the brave implementation)

At present we are running our application inside a tomcat container, deployed as a war.

[2018-10-29 16:54] pavolloffay commented on #112
Hi, as the IDs are not exposed by the OT API you have to cast the context to the current impl to get them.

This will change in https://github.com/opentracing/opentracing-java/issues/314.

I am closing this as it is not related to jax-rs. Feel free to continue the discussion.

[2018-10-29 16:54] #112 closed

[2018-10-29 19:59] sjoerdtalsma commented on #109
Isn't it better to do a 'hard' clear of the Scope after the request (before it is returned to the threadpool) using https://github.com/opentracing/opentracing-java/pull/313 ?

Can you elaborate? Would OT-java PR 313 above help at all or do you need something else?

[2018-10-31 12:54] #109 closed

[2018-11-13 00:03] song-hao opened #114 "Incorrect operation name in WildcardOperationName when path value is the same"
https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/server/OperationNameProvider.java#L74
[code]
When the path parameters in the given URI have same value such as: `/test/1/1`, the operation name will be matched as `/test/{subid}/{subid}`

[2018-11-13 09:09] pavolloffay commented on #114
thanks for reporting @song-hao, do you have a fix for this?

[2018-11-13 09:12] song-hao commented on #114
@pavolloffay Tried, haven't found the proper way to fix this yet.

[2018-12-13 05:18] haneeshr opened #117 "Exception in ServerTracingFilter when URI path in HTTP request is empty"
Specifying `skipPattern`, makes any request with empty URI path fail.
It fails here
https://github.com/opentracing-contrib/java-jaxrs/blob/29d6f944e6b423c29af96ef9ac2cf60aa749a57b/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/server/ServerTracingFilter.java#L138
with `IndexOutOfBoundException`

[2019-01-08 22:01] #114 closed

[2019-02-08 00:10] song-hao opened #120 "WildcardOperationName can't get value of @Path when using interface"
Currently, WildcardOperationName won't be able to get value of `@Path` annotation if using API interface as follows:
[code]
Probably can add some logic after [here](https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/server/OperationNameProvider.java#L83) to get the value from interface class as follows:
[code]

[2019-02-08 08:48] objectiser commented on #120
@song-hao Would you be interested in submitting a PR to fix this?

[2019-02-08 18:34] song-hao commented on #120
Sure, will submit one.

[2019-02-18 09:53] #117 closed

[2019-02-18 13:06] #120 closed

[2019-02-26 08:01] Anurag870 opened #124 "Traced annotation"
Add `@Traced` annotation in this repository on the same lines of

[opentracing-contrib/java-cdi](https://github.com/opentracing-contrib/java-cdi/blob/master/opentracing-cdi/src/main/java/io/opentracing/contrib/cdi/Traced.java)

[eclipse/microprofile-opentracing](https://github.com/eclipse/microprofile-opentracing/blob/master/api/src/main/java/org/eclipse/microprofile/opentracing/Traced.java)

 [op

[2019-02-26 08:10] pavolloffay commented on #124
@Anurag870 hi, what are you proposing?

The `@Traced` annotation is defined in https://github.com/eclipse/microprofile-opentracing/blob/master/api/src/main/java/org/eclipse/microprofile/opentracing/Traced.java.

[2019-02-26 09:05] #124 closed

[2019-02-26 09:06] Anurag870 commented on #124
@pavolloffay  Thanks. Closing the issue.

[2019-04-26 12:25] pavolloffay opened #127 "Flaky test Apache CXF testMultipleServerRequests"
CI: https://travis-ci.org/opentracing-contrib/java-jaxrs/builds/524893506
[code]

[2019-04-26 12:37] #127 closed

[2019-05-19 17:55] billoneil opened #130 "ServerTracingFilter does not account for traces / timing in pre match filters"
Currently `ServerTracingFilter` is wired up using a dynamic feature which makes it a post-matching filter. This means any processing done in pre-match filters is currently being excluded from traces.

Would it be possible to make this work as a pre match filter instead?

[2019-05-20 09:45] pavolloffay commented on #130
hi @billoneil, could you please describe what use-case, why do you need to initiate tracing in pre-match?

There has been some discussion here https://github.com/opentracing-contrib/java-jaxrs/issues/13. I don't remember, although why we didn't go forward.

[2019-05-20 13:09] billoneil commented on #130
I noticed this when migrating from one of our APM solutions to another. We have ~3 endpoints which are polled and have significantly higher throughput than all other endpoints in our system. In the new APM they are showing to take ~30% the response time as the old one and I tracked it down to being related to pre-matching filters. Even though the pre match filters only take ~3-5ms that ends up bei

[2019-05-24 22:29] Fox32 commented on #130
In our first use case, requests get filtered before the dynamic feature is tracing them (e.g. by authorization). Therefore we can't see traces/spans for them. Maybe there should be two spans, an outer one for incoming http requests and a later one after the requests got matched (jax-rs specific)?

In another case we make a call to a different component during pre-match (Open Policy Agent, also aut

[2019-05-27 09:43] pavolloffay commented on #130
I don't mind switching to pre-match if we keep the current behavior/offer the same features. PRs are of course welcome.

#74 made it possible to integrate with servlet filters which can initiate tracing before jax-rs kicks in.

[2019-05-28 10:12] Fox32 commented on #130
I don't think that @PreMatch would keep the old behavior, as you don't have the matched classes/methods during pre-match. One would need a pre match and a post match filter.

[2019-05-28 11:24] pavolloffay commented on #130
If it can be configurable I am fine with it. There is a builder pattern where these things could be specified.

[2019-06-04 11:15] billoneil commented on #130
@Fox32 any suggestions on what that flow might look like? I'm just learning open tracing now so I'm not familiar with what can be done when. Is it possible to start the root trace in a pre-match filter then tag / name it with the post-match filter?

[2019-06-07 12:08] Fox32 commented on #130
@billoneil First I thought that this wouldn't work, but then I tried it:

[code]

I'm surprised, this works as expected. My first idea was to create two spans, one that only has the HTTP method as an operation name and a second one that contains the operation (if available). But now we could start a span with the HTTP method as the operation name during pre match and later after matching fill it w

[2019-11-27 19:38] safetytrick opened #133 "Priority of ServerTracingFilter"
The current priority of ServerTracingFilter is set at `Priorities.HEADER_DECORATOR`.

I don't think that is right for this library. I'm expecting this library to initialize tracing for a request and that should happen very early in the request. My expectation is that the entire request is instrumented including Authentication and Authorization filters.

Where this should fit is a little fuzzy, `Co

[2019-11-29 17:17] pavolloffay commented on #133
The priority can be specified in the builder https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/server/ServerTracingDynamicFeature.java#L160.

The question is whether we should change the default priority. There is some prior art when people requested using header decorator https://github.com/opentracing-contrib/java-jaxrs/i

[2019-12-03 18:01] safetytrick commented on #133
Thank you, that sounds about right. I spent some time looking for other "tracing" filters in github and found a few opinions on this, Integer.MIN_VALUE (and +10), 0, or a custom constant with before authentication filter. Apache Geronimo was using HEADER_DECORATOR.

Brave looked like this: https://github.com/sapiokilias/t1/blob/101e8561f45d6308d8f9aaab47f3798a9fd54db6/instrumentation/jaxrs2/src/ma

[2019-12-04 09:35] pavolloffay commented on #133
@johnament was there any specific reason why tracing filter runs with priority `HEADER_DECORATOR`? Alternatively are there any concerns running it with the lowest priority `Integer.NIM_VALUE +10`?

[2020-01-05 11:11] hypnoce opened #135 "Provide ContainerRequestContext to decorateResponse"
There are scenarios where information held in the ContainerRequestContext need to be accessed in the decorateResponse method (properties, uriInfo...).
Do you see any value into adding the ContainerRequestContext in the decorateResponse response arguments ?
Thanks

[2020-01-06 10:43] pavolloffay commented on #135
Can you please describe your use-case/ what information is needed to be accessed from `ContainerRequestContext`?

[2020-01-06 13:03] hypnoce commented on #135
I'm trying to get the path parameters through the URI info as well as some properties that were set using `requestContext.setProperty()`. I could create another filter and make sure it's priority comes just after the ServerTracingFilter priority. But using the span decorator is a more robust method.

[2020-01-07 09:01] pavolloffay commented on #135
Why `decorateRequest` does not work

[code]

it is passing in the `ContainerRequestContext`

[2020-01-07 10:16] hypnoce commented on #135
There are some information injected in the request via setProperty that I need to access after the query is processed. Also I need to know the status code as well as the uriinfo at the same time.

[2020-01-13 09:07] hypnoce commented on #135
Hey @pavolloffay any news on this ? Thanks.

[2020-01-13 10:23] pavolloffay commented on #135
This is pity because we have just released 1.0 and this is breaking change.

We will have to overload the response method and deprecate the old one.

[2020-01-13 15:15] hypnoce commented on #135
Indeed.
If we could use default method in interface, we could have made the transition smoother without breaking the API. Is it intended to be java 1.6 ?
Thanks

[2020-01-13 16:06] pavolloffay commented on #135
It's already released. We build this against java 1.7.

[2020-01-13 16:10] hypnoce commented on #135
A sorry yes I meant java8.

[2020-01-14 09:12] pavolloffay commented on #135
That should be fine, it's backward compatible.

[2020-03-18 08:30] adreviko opened #138 "@Traced annotation doesn't work for classes when using CDI"
Hi,
I've encountered an issue that @Traced annotation doesn't work for JAX-RS resources on class level when using CDI with Jersey application.

The reason for this lies in Weld-made proxies which strip the class level annotations from the bean instance and therefore are not passed to the ResourceInfo via .getResource() method.

Actually if you use CDI in your code the only reason why the tracing f

[2020-03-18 08:57] pavolloffay commented on #138
Is there a way to get the wrapped instance from the proxy?

[2020-03-18 10:04] adreviko commented on #138
I'm not really sure about that. I've found some discussions here: https://issues.redhat.com/browse/CDI-10?focusedCommentId=13128346&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel and here https://developer.jboss.org/thread/272778 and so far from what I've read only the .getResourceClass().getSuperclass() helps but it is a sort of a hack. There would also be an option of ch

[2020-05-28 22:09] seho-kim-do-something opened #139 "Support for Rest template"
Hi,

I am new to Opentracing and doing some research now.
Is there any way to get a span for Rest Template in Jaxrs? My app runs with spring-jersey and in some functions, there is a couple of RestTemplate calls, which are not reported as a new span under the same trace.
In the end, I added "opentracing-spring-cloud-starter" for RestTemplate.
So my dependencies are:
        <dependency>

[2020-05-29 16:05] seho-kim-do-something commented on #139
After I excluded spring-starter-web, the issue has been resolved

[2020-05-29 16:05] #139 closed

[2020-05-29 17:21] seho-kim-do-something opened #140 "log4j2 support"
Hello,
Is there any plan to support lo4j2? It seems trace with logs not working when I check from UI.
I tried with logback, then I was able to see logs along with my application logs.
Thanks

[2020-06-02 08:27] pavolloffay commented on #140
This project purely instruments jax-rs. The integration with the logging framework is out of the scope of this project.

Putting trace context into logs has to be done at tracer initialization time as it requires changing the scope manager implementation https://github.com/quarkusio/quarkus/blob/master/extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/MDCScopeManager.java#L11

[2020-06-02 08:27] #140 closed

[2020-06-10 23:08] stephen00001 opened #141 "Cannot get autodiscovery to work in Jersey"
Hi,

I've been trying to get the auto discovery feature to work.
I've followed your [test ](https://github.com/opentracing-contrib/java-jaxrs ) example and am using Jaeger and Jersey 2.31.
However when I call the REST endpoint I only see the child span in Jaeger. If I pass in a parent span from the client I see that logged also as a separate span. I thought the child span would appear as a child o

[2020-06-11 08:21] pavolloffay commented on #141
hi @stephen00001 could you please be more specific? What is not working? You don't see any spans for JAX-RS server resources?

[2020-06-11 09:31] stephen00001 commented on #141
The only traces I'm seeing are the ones I create in the hello method or in client using the following or similar code. ``` Span childSpan = GlobalTracer.get().buildSpan("businessOperation")
          .start(); ```
I was under the impression that with this plugin it would automatically create a span per endpoint without the need to manually create spans (unless required). Maybe I'm misunderstanding

[2020-06-11 10:11] pavolloffay commented on #141
It seems like the tracing isn't configured properly. Try to follow examples in this repository.

Then I would suggest debugging the application and see whether jax-rs filters are being used.

[2020-06-11 10:54] stephen00001 commented on #141
Given that there is a DiscoverableServerTracingFeature class in the discovery package I'm assuming I do not need to create TracingInitializer. I just need to add the filter to set the Global tracer, and opentracing-jaxrs2-discovery jar in the pom. Is this correct?
I know the filter is being called and the tracer is set.

Am I also correct in assuming that I don't need the following code in the con

[2020-06-11 10:57] pavolloffay commented on #141
If the auto-discovery does not work for you, then you might be initializing JAX-RS in a custom way that is not supported by this project. If you could share a full codebase (with no business logic) then I would be able to tell more.

[2020-06-11 10:59] stephen00001 commented on #141
Ok thanks. I've a sample project that I'll send over shortly. Appreciated

[2020-06-11 16:59] stephen00001 commented on #141
Hi Pavol,
Sample project attached.

[RESTFulExample.zip](https://github.com/opentracing-contrib/java-jaxrs/files/4766163/RESTFulExample.zip)

Thanks

[2020-06-11 21:18] stephen00001 commented on #141
Got it working in the end. Needed to register the TracingInitializer class.
[code]
web.xml
[code]

[2020-06-12 11:30] #141 closed

[2021-02-09 08:54] Kanikakhetawat opened #144 "Exception handling in ServerTracingFilter"
Hi,
We are in the process of integrating opentracing with brave and for this we have integrated with ServerTracingDynamicFeature for starting the span for calls made to a resource.

Our intent is that tracing should not impact the normal request flow. To accomplish this, we would want to ignore/log any exceptions encountered in the filter while starting/closing a span. Since as of now, no explicit

[2021-03-05 19:42] jasondlee opened #145 "String comparison using equals"
I could be missing something subtle, but this looks like a bug (String comparison using `==` instead of `.equals()` ).

https://github.com/opentracing-contrib/java-jaxrs/blob/196c72d484691f615bb354ca8e46b9b305726283/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/server/OperationNameProvider.java#L93

[2021-05-25 17:26] rishi-lgtm commented on #145
what if m.getName is Null. [.equals] will throw a NPE .

[2021-05-25 19:14] pavolloffay commented on #145
would you like to submit a fix?

[2021-05-25 19:37] rishi-lgtm commented on #145
Can you please assign to me?

[2021-05-26 06:46] rishi-lgtm commented on #145
@pavolloffay Can u provide me access.
i am getting below error while pusing.
`remote: Permission to opentracing-contrib/java-jaxrs.git denied to rishi-lgtm.
fatal: unable to access 'https://github.com/opentracing-contrib/java-jaxrs.git/': The requested URL returned error: 403`

[2021-05-26 06:57] pavolloffay commented on #145
The repository is public you should be able to fork it and submit a PR from your fork.

[2021-05-26 08:16] rishi-lgtm commented on #145
Have raised a PR
https://github.com/opentracing-contrib/java-jaxrs/pull/146

[2021-05-26 08:34] pavolloffay commented on #145
Done in #146

[2021-05-26 08:34] #145 closed

[2021-07-26 07:36] Kanikakhetawat commented on #130
We have a similar use case to trace the time and errors in other pre-match filters.
@Fox32 the current code should still work as is with just a new annotation of PreMatch filter and priority, though we would need to handle for cases when the resource class/method doesn't match.
@pavolloffay does the requirement and change look reasonable to you?

[2021-09-15 15:14] rafaelbey opened #147 "Enhance TracingInterceptor to decorate Span when exception occurs"
Currently, the [TracingInterceptor](https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs2/src/main/java/io/opentracing/contrib/jaxrs2/serialization/TracingInterceptor.java) just add the error tag whenever an exception occurs.

I will like to be able to decorate the Span with other details about the exception, like the exception message.  This will help our users find err

[2021-09-29 02:55] rafaelbey commented on #147
Any feedback and direction will be welcome.

[2022-01-27 11:49] xstefank opened #152 "Any plans for JAX-RS 3.0 (jakarta.* namespace)?"
Are there any plans to update to https://jakarta.ee/specifications/restful-ws/3.0/ and thus switch to `jakarta.*` namespace, please? We would like to make the jakarta adjustments in the SmallRye OpenTracing project.

[2022-05-27 13:32] cykl commented on #152
It would be great to have a clear statement regarding the JAX-RS 3.0 migration.

 - opentracing-contrib seems abandoned and stuck to javax.*
 - opentelemetry-java-instrumentation does not support jakarta.* "yet"
 - Jersey doesn't seem to push new features into 2.x anymore

As a long time user of both JAX-RS and Opentracing, current state of the ecosystem is depressing and no one seems to actually